@model PrHeredades.Models.tbCategoria

@{
    ViewBag.Title = "CambiarEstado";
}

<div class="row">
    <div class="col-md-10 col-sm-11">
        <h2>Cambiar Estado</h2>
    </div>
    <div class="col-md-2 text-right col-sm-1">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
            <i class="fa fa-question"></i>
        </button>
    </div>
</div>

<h3>
    ¿Realmente quieres
    @if (Model.estado)
    {
        <strong>Deshabilitar</strong>
    }
    else
    {
        <strong>Habilitar</strong>
    }
    esta categoría?
</h3>


<div>
    <hr />
    <div class="form-group">
        <label for="categoria" class="col-form-label">Categoría</label>
        @Html.TextBoxFor(m => m.categoria, new { @class = "form-control col-md-4", @readonly = "readonly" })
    </div>
    
    <form action="@Url.Action("CambiarEstado")" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.codCategoria)

        <div class="form-group col-md-4 text-center" style="padding-left:0; padding-right:0">
            <button type="submit" class="btn btn-primary" style="width: 150px">
                <span class="fa fa-check"></span> 
                @if (Model.estado)
                {<text>Deshabilitar</text> }
                else
                { <text>Habilitar</text>}
            </button>
            <a href="@Url.Action("Index")" class="btn btn-danger" style="width: 150px">
                <span class="fa fa-times"></span> Cancelar
            </a>
        </div>
    </form>
</div>

<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se @(Model.estado ? "Deshabilita" : "Habilita") una categoría.
                </p>
                @if (Model.estado)
                {
                    <p>
                        Las categorías “Deshabilitadas” no pueden ser utilizadas en otras partes del sistema.
                    </p>
                }
                else
                {
                    <p>
                        Las categorías “Habilitadas” pueden ser utilizadas en cualquier parte del sistema y utilizados para hacer referencias.
                    </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

