@model IEnumerable<PrHeredades.Models.tbCategoria>
@using PrHeredades.Models;

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-11">
            <h1 class="text-monospace text-dark">Categorías</h1>
        </div>
        <div class="col-md-2 text-right col-sm-1">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
                <i class="fa fa-question"></i>
            </button>
        </div>
    </div>
</div>

<p>
    <a class="btn btn-success" href="@Url.Action("Crear")">
        <span class="fa fa-plus"></span> Nueva categoría
    </a>
</p>

<hr />
<!-- Filtros -->
<form action="@Url.Action("Index")" method="get" class="form-group">
    @Html.Partial("_Estado", (bool)ViewBag.estado)
    <div class="row">
        <div class="col-md-4">
            <input type="text" placeholder="Nombre de categoría" class="form-control form-control-sm" id="filtro" name="filtro" value="@ViewBag.filtro" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">
            <span class="fa fa-search"></span> Filtrar
        </button>
    </div>
</form>
<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Categoría
            </th>
            <th scope="col" class="text-center">
                Estado
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.categoria
                </td>
                <td class="align-middle text-center">
                    @if (item.estado)
                    {
                        <span class="fa fa-check-square"></span>
                    }
                    else
                    {
                        <span class="fa fa-square"></span>
                    }
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("Editar", new { id = item.codCategoria })" class="btn btn-warning btn-sm">
                        <span class="fa fa-edit"></span> Editar
                    </a>
                    <a href="@Url.Action("CambiarEstado", new { id = item.codCategoria })" class="align-middle">
                        @if (item.estado)
                        {
                            <text>Deshabilitar</text>
                        }
                        else
                        {
                            <text>Habilitar</text>
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_Paginacion", (Paginacion)ViewBag.paginacion)

<!-- Modal de información -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se administra el catalogo de categorías.
                </p>
                <p>
                    Las categorías sirven para poder diferenciar tipos de productos, separarlos por clases y organizarlos para poder mantener un orden.
                </p>

                <p>
                    Categorías “Habilitadas” ( <i class="fa fa-check-square"></i> ): son las que podrán ser seleccionados en otras páginas del sistema.
                </p>
                <p>
                    Categorías “Deshabilitadas” ( <i class="fa fa-square"></i> ): son las que no podrán ser seleccionados en ninguna otra página sistema.
                </p>
                <p>
                    Puede buscar una categoría específica escribiendo el nombre de la misma y presionando el botón filtrar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

