@model PrHeredades.Models.tbPresentacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbPresentacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.presentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codPresentacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
