@model IEnumerable<PrHeredades.Models.clsVentas>
@using PrHeredades.Models

@{
    ViewBag.Title = "Compras";
}

<h2>Compras de <strong>@ViewBag.deudor</strong></h2>

<form action="@Url.Action("Index")" method="get" class="form-group">

    <div class="form-group">

    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="filtro" name="filtro" value="@ViewBag.filtro" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">
            <span class="fa fa-search"></span> Filtrar
        </button>
    </div>
</form>
<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>
                Total
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.fecha.ToLongDateString()
                </td>
                <td class="align-middle">
                    @item.fecha.ToShortTimeString()
                </td>
                <td class="align-middle">
                    Q @item.total
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("DetalleCompra", new { id = item.codVenta })" class="btn btn-primary btn-sm">
                        <span class="fa fa-list"></span> Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
@Html.Partial("_PaginacionId", (Paginacion)ViewBag.paginacion)

<a class="btn btn-dark" href="@Url.Action("Index", "Deudor")">
    <span class="fa fa-arrow-left"></span> Regresar
</a>