@model PrHeredades.Models.tbUsuario

@{
    ViewBag.Title = "CambiarEstado";
}

<h2>Cambiar Estado</h2>

@if (Model.estado.Value)
{
    <h3>¿Realmente quieres <strong>Deshabilitar</strong> a este usuario?</h3>
}
else
{
    <h3>¿Realmente quieres <strong>Habilitar</strong> a este usuario?</h3>
}


<div>
    <hr />
    <div class="form-group">
        <label for="nombre" class="col-form-label">Nombre</label>
        <input type="text" class="form-control col-md-4" value="@Model.nombre" readonly="readonly" />
    </div>
    <div class="form-group">
        <label for="usuario" class="col-form-label">Usuario</label>
        <input type="text" class="form-control col-md-4" value="@Model.usuario" readonly="readonly" />
    </div>

    <form action="@Url.Action("CambiarEstado")" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.codUsuario" id="codUsuario" name="codUsuario" />

        <div class="form-group col-md-4 text-center">
            <button type="submit" class="btn btn-primary" onclick="hola()" style="width: 150px">
                <span class="fa fa-check"></span> @if (Model.estado.Value) { <text>Deshabilitar</text> } else { <text>Habilitar</text> }
            </button>
            <a href="@Url.Action("Index")" class="btn btn-danger" style="width: 150px">
                <span class="fa fa-times"></span> Cancelar
            </a>
        </div>
    </form>
</div>
