@model PrHeredades.Models.tbUsuario

@{
    ViewBag.Title = "Crear";
}

<div class="row">
    <div class="col-md-10 col-sm-11">
        <h2>Crear usuario</h2>
    </div>
    <div class="col-md-2 text-right col-sm-1">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
            <i class="fa fa-question"></i>
        </button>
    </div>
</div>
<hr />

<form action="@Url.Action("Crear")" method="post" id="formUsuario">
    @Html.AntiForgeryToken()
    <h4>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h4>

    <div class="form-group">
        <label for="rol" class="col-form-label">Rol</label>
        @Html.DropDownListFor(m => m.codRol, null, "Elija un rol", htmlAttributes: new { @class = "form-control col-md-4" })
    </div>

    <div class="form-group">
        <label for="nombre" class="col-form-label">Nombre</label>
        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control col-md-4", autocomplete = "off", maxlength = "50" })
    </div>

    <div class="form-group">
        <label for="usuario" class="col-form-label">Usuario</label>
        @Html.TextBoxFor(m => m.usuario, new { @class = "form-control col-md-4", autocomplete = "off", maxlength = "20" })
    </div>

    <div class="form-group">
        <label for="password" class="col-form-label">Contraseña</label>
        @Html.PasswordFor(m => m.password, new { @class = "form-control col-md-4", maxlength = "30" })
    </div>

    <div class="form-group">
        <label for="repetir" class="col-form-label">Repetir contraseña</label>
        @Html.Password("repetir", null, new { @class = "form-control col-md-4", maxlength = "30" })
    </div>

    <div class="form-group col-md-4 text-center" style="padding-left:0; padding-right:0">
        <button type="submit" class="btn btn-primary" style="width: 150px">
            <span class="fa fa-check"></span> Registrar
        </button>

        <a href="@Url.Action("Index")" class="btn btn-danger" style="width: 150px">
            <span class="fa fa-times"></span> Cancelar
        </a>
    </div>
</form>

<!-- Modal de información -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se ingresa la información para crear un nuevo usuario.
                </p>
                <p>
                    El “Rol” del usuario le brindara los permisos para ingresar a diversas partes del sistema según este fuera configurado.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jqueryValidator/usuario.js"></script>
}