@model PrHeredades.Models.tbUsuario

@{
    ViewBag.Title = "Editar";
}

<form action="@Url.Action("Editar")" method="post" id="formUsuario">
    @Html.AntiForgeryToken()
    <h2>Editar</h2>
    <hr />
    <input type="hidden" value="@Model.codUsuario" id="codUsuario" name="codUsuario" />
    <div class="form-group">
        <label for="rol" class="col-form-label">Rol</label>
        @Html.DropDownList("codRol", null, htmlAttributes: new { @class = "form-control col-md-4" })
    </div>
    <div class="form-group">
        <label for="nombre" class="col-form-label">Nombre</label>
        <input type="text" class="form-control col-md-4" id="nombre" name="nombre" autocomplete="off" value="@Model.nombre" />
    </div>
    <div class="form-group">
        <label for="usuario" class="col-form-label">Usuario</label>
        <input type="text" class="form-control col-md-4" id="usuario" name="usuario" autocomplete="off" value="@Model.usuario" />
    </div>
    <div class="form-group">
        <label for="password" class="col-form-label">Contraseña</label>
        <input type="password" class="form-control col-md-4" id="password" name="password" value="@Model.password">
    </div>
    <div class="form-group col-md-4 text-center">
        <button type="submit" class="btn btn-primary" onclick="hola()" style="width: 150px">
            <span class="fa fa-check"></span> Editar
        </button>
        <a href="@Url.Action("Index")" class="btn btn-danger" style="width: 150px">
            <span class="fa fa-times"></span> Cancelar
        </a>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jqueryValidator/usuario.js"></script>
    <script>
        $().ready(
            function () {
                $('#codRol > option[value="@Model.codRol"]').attr('selected', 'selected');
            }
        );
    </script>
}