@model PrHeredades.Models.tbTransaccion

@{
    ViewBag.Title = "DetalleSalida";
}

<h2>Detalle de salida</h2>
<hr />

<dl class="dl-horizontal">
    <dt class="col-12">Descripción</dt>
    <dd class="col-12">@Model.descripcion</dd>

    <dt class="col-12">Usuario</dt>
    <dd class="col-12">@Model.tbUsuario.nombre</dd>

    <dt class="col-12">Fecha</dt>
    <dd class="col-12">@Model.fecha.ToLongDateString()</dd>

    <dt class="col-12">Hora</dt>
    <dd class="col-12">@Model.fecha.ToShortTimeString()</dd>
</dl>

<div class="form-group">
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">
                    Producto
                </th>
                <th scope="col">
                    Presentación
                </th>
                <th class="text-center">
                    Cantidad
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.tbProductoTransaccion)
            {
                <tr>
                    <td class="align-middle">
                        @item.tbProductoPresentacion.tbProducto.producto
                    </td>
                    <td class="align-middle">
                        @item.tbProductoPresentacion.tbPresentacion.presentacion
                    </td>
                    <td class="align-middle text-center">
                        @item.cantidad
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="form-group">
    <a href="@Url.Action("Salidas")" class="btn btn-dark" style="width: 150px">
        <span class="fa fa-arrow-left"></span> Regresar
    </a>
</div>