@model IEnumerable<PrHeredades.Models.tbTransaccion>
@using PrHeredades.Models

@{
    ViewBag.Title = "Pedidos";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-11">
            <h1 class="text-monospace text-dark">Pedidos</h1>
        </div>
        <div class="col-md-2 text-right col-sm-1">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
                <i class="fa fa-question"></i>
            </button>
        </div>
    </div>
</div>

<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modProveedores">
        <span class="fa fa-plus"></span> Nuevo pedido
    </button>
</p>

<hr />
<!-- Filtros -->
<form action="@Url.Action("Pedidos")" method="get" class="form-group">
    @Html.Partial("_Estado", (bool)ViewBag.estado)
    <div class="row">
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="filtro" name="filtro" value="@ViewBag.filtro" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">
            <span class="fa fa-search"></span> Filtrar
        </button>
    </div>
</form>
<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Fecha
            </th>
            <th>
                Proveedor
            </th>
            <th scope="col" class="text-center">
                Estado
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.fecha.ToLongDateString()
                </td>
                <td class="align-middle">
                    @item.tbProveedor.proveedor
                </td>
                <td class="align-middle text-center">
                    @if (item.estado)
                    {
                        <span class="fa fa-check-square"></span>
                    }
                    else
                    {
                        <span class="fa fa-square"></span>
                    }
                </td>
                <td class="align-middle">
                    @if (item.estado)
                    {
                        <a href="@Url.Action("RecivirPedido", new { id = item.codTransaccion })" class="btn btn-warning btn-sm">
                            <span class="fa fa-check"></span> recibir
                        </a>
                    }
                    <a href="@Url.Action("DetallePedido", new { id = item.codTransaccion })" class="btn btn-primary btn-sm">
                        <span class="fa fa-list"></span> Detalles
                    </a>
                    @if (Sesion.ObtenerRol() <= 2)
                    {
                        <a href="@Url.Action("CambiarEstado", new { id = item.codTransaccion, tipoTransaccion = 1 })" class="align-middle">
                            @if (item.estado)
                            {
                                <text>Deshabilitar</text>
                            }
                            else
                            {
                                <text>Habilitar</text>
                            }
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_Paginacion", (Paginacion)ViewBag.paginacion)

<!-- Modal -->
<div class="modal fade" id="modProveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="producto">Seleccione un proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">
                                Proveedor
                            </th>
                            <th scope="col" class="text-center">
                                Dirección
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in ViewBag.proveedores)
                        {
                            <tr>
                                <td class="align-middle">
                                    @item.proveedor
                                </td>
                                <td class="align-middle text-center">
                                    @if (item.direccion != null)
                                    {
                                        @item.direccion
                                    }
                                    else
                                    {
                                        <text>Desconocida</text>
                                    }
                                </td>
                                <td class="align-middle">
                                    <a type="button" class="btn btn-warning btn-sm" href="@Url.Action("CrearPedido", new { id = item.codProveedor })">
                                        <span class="fa fa-edit"></span> Seleccionar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modProveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">recibir!</h4>
                    <p>¿Realmente quieres recibir este pedido?</p>
                    <div class="col-md-6">
                        <a class="btn btn-success"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de información -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se agregan los pedidos que se realizan a los proveedores.
                </p>
                <p>
                    Los pedidos, no se suman al inventario hasta que se preciona el botón "recibir" para un pedido seleccionado.
                </p>
                <p>
                    Una vez recibido un pedido, este se traslada a la página "Compras".
                </p>
                <p>
                    Pedidios “Habilitados” ( <i class="fa fa-check-square"></i> ): estos estan listos para ser recibidos.
                </p>
                <p>
                    Pedidios “Deshabilitados” ( <i class="fa fa-square"></i> ): son los que se cancelan y no serán recibidos.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
