@model IEnumerable<PrHeredades.Models.ProductoVenta>

@if (Model != null)
{
    <table class="table table-sm table-hover" lang="en-us">
        <thead>
            <tr class="table-primary">
                <th scope="col">
                    Producto
                </th>
                <th scope="col">
                    Presentación
                </th>
                <th scope="col" class="text-center">
                    Precio
                </th>
                <th scope="col" class="text-center">
                    Existencia
                </th>
                <th class="text-center">
                    Cantidad
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @item.producto
                    </td>
                    <td class="align-middle">
                        @item.presentacion
                    </td>
                    <td class="align-middle text-center">
                        @item.precioVenta
                    </td>
                    <td class="align-middle text-center">
                        @item.existencia
                    </td>
                    <td class="justify-content-center">
                        <input type="number" step="0.10" class="form-control form-control-sm col-md-4 offset-md-4" value="@item.cantidad" onchange="CambiarCantidad(@item.codProducto, @item.codPresentacion, this, @item.existencia)" />
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger btn-sm" onclick="Quitar(@item.codProducto, @item.codPresentacion)">
                            <span class="fa fa-times"></span> Quitar
                        </button>
                        @if (item.tieneMayor)
                        {
                            <button type="button" class="btn btn-warning btn-sm" onclick="Convertir(@item.codProducto, @item.codPresentacion)">
                                <span class="fa fa-caret-square-o-left"></span> Convertir
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <h3>
            Total: Q @ViewBag.total
        </h3>
    </p>
}



