@model IEnumerable<PrHeredades.Models.tbVenta>
@using PrHeredades.Models

@{
    ViewBag.Title = "Index";
}

<h2>Ventas</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Vender")">
        <span class="fa fa-plus"></span> Nueva venta
    </a>
</p>

<hr />
<!-- Filtros -->
<form action="@Url.Action("Index")" method="get" class="form-group">

    <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @if (ViewBag.tipoVenta)
            {
                <label class="btn btn-warning active" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=True checked onchange="this.form.submit()"> Al contado
                </label>
                <label class="btn btn-warning" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=False onchange="this.form.submit()"> Al crédito
                </label>
            }
            else
            {
                <label class="btn btn-warning" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=True onchange="this.form.submit()"> Al contado
                </label>
                <label class="btn btn-warning active" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=False checked onchange="this.form.submit()"> Al crédito
                </label>
            }
        </div>
    </div>

    @Html.Partial("_Estado", (bool)ViewBag.estado)

    <div class="row">
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="filtro" name="filtro" value="@ViewBag.filtro" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">
            <span class="fa fa-search"></span> Filtrar
        </button>
    </div>
</form>
<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th scope="col">
                Tipo
            </th>
            <th scope="col" class="text-center">
                Estado
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.fecha.Value.ToLongDateString()
                </td>
                <td class="align-middle">
                    @item.fecha.Value.ToShortTimeString()
                </td>
                <td class="align-middle">
                    @if (item.codDeudor != null && item.codDeudor > 0)
                    {
                        <text>Credito</text>
                    }
                    else
                    {
                        <text>Contado</text>
                    }
                </td>
                <td class="align-middle text-center">
                    @if (item.estado.Value)
                    {
                        <span class="fa fa-check-square"></span>
                    }
                    else
                    {
                        <span class="fa fa-square"></span>
                    }
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("DetalleVenta", new { id = item.codVenta })" class="btn btn-primary btn-sm">
                        <span class="fa fa-list"></span> Detalles
                    </a>
                    @if (Sesion.ObtenerRol() <= 2)
                    {
                        <a href="@Url.Action("CambiarEstado", new { id = item.codVenta })" class="align-middle">
                            @if (item.estado.Value)
                            {
                                <text>Deshabilitar</text>
                            }
                            else
                            {
                                <text>Habilitar</text>
                            }
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_Paginacion", (Paginacion)ViewBag.paginacion)
