@model IEnumerable<PrHeredades.Models.clsVentas>
@using PrHeredades.Models

@{
    ViewBag.Title = "Index";
}

<h2>Ventas</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Vender")">
        <span class="fa fa-plus"></span> Nueva venta
    </a>
</p>

<hr />
<!-- Filtros -->
<form action="@Url.Action("Index")" method="get" class="form-group">

    <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            @if (ViewBag.tipoVenta)
            {
                <label class="btn btn-warning active" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=True checked onchange="this.form.submit()"> Al contado
                </label>
                <label class="btn btn-warning" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=False onchange="this.form.submit()"> Al crédito
                </label>
            }
            else
            {
                <label class="btn btn-warning" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=True onchange="this.form.submit()"> Al contado
                </label>
                <label class="btn btn-warning active" style="width: 150px">
                    <input type="radio" name="tipoVenta" id="tipoVenta" value=False checked onchange="this.form.submit()"> Al crédito
                </label>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="date" class="form-control form-control-sm" id="filtro" name="filtro" value="@ViewBag.filtro" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">
            <span class="fa fa-search"></span> Filtrar
        </button>
    </div>
</form>
<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Fecha
            </th>
            <th>
                Hora
            </th>
            @if (!ViewBag.tipoVenta)
            {
                <th>
                    Cliente
                </th>
            }
            <th scope="col">
                Total
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.fecha.ToLongDateString()
                </td>
                <td class="align-middle">
                    @item.fecha.ToShortTimeString()
                </td>
                @if (!ViewBag.tipoVenta)
                {
                    <td>
                        @item.tbDeudor.nombre
                    </td>
                }
                <td class="align-middle">
                    Q @Convert.ToDecimal(item.total)
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("DetalleVenta", new { id = item.codVenta })" class="btn btn-primary btn-sm">
                        <span class="fa fa-list"></span> Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial("_Paginacion", (Paginacion)ViewBag.paginacion)
