
@model PrHeredades.Models.Paginacion

<p>
    Pagina <strong>@Model.actual</strong> de @Model.paginas
</p>

<nav>
    <ul class="pagination">
        @if ((Model.actual - 1) > 0)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action(Model.accion, Model.controlador, new { id = Model.id, pagina = (Model.actual - 1), filtro = ViewBag.filtro })">&laquo;</a>
            </li>
        }
        <li class="page-item active">
            <a class="page-link">@Model.actual</a>
        </li>
        @if ((Model.actual + 1) <= Model.paginas)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action(Model.accion, Model.controlador, new { id = Model.id, pagina = (Model.actual + 1), filtro = ViewBag.filtro })">&raquo;</a>
            </li>
        }
    </ul>
</nav>